@import url("global.css");
@import url("grid.css");
@import url("variables.css");
@import url("flexbox.css");
@import url("sizes.css");
@import url("spacings.css");
@import url("position.css");
@import url("colors.css");
@import url("display.css");
@import url("text.css");

.max-w-screen {
  max-width: 1540px;
}

.carousel-container {
  background: var(--mushiaogreen-freshherbs-lineargradient);
}

.carousel {
  min-height: 640px;
}

.carousel img {
  width: 210px;
  height: auto;
}

.carousel-image::after,
.carousel-image::before {
  content: "";
  display: block;
  width: 198px;
  height: 198px;
  background-color: var(--palm-green);
  position: absolute;
  border-radius: 100%;
}

.carousel-image::after {
  transform: translateX(-50px);
  bottom: 75px;
}

.carousel-image::before {
  transform: translateX(50px);
  bottom: 125px;
}

.brands img {
  width: 100%;
  height: auto;
}

.carousel-indicators {
  justify-content: center;
  width: 100%;
  align-items: flex-end;
  bottom: 40px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
  position: absolute;
  right: 0;

  z-index: 10;
}
/* 
.carousel-indicators ol {
  height: 16px;
  width: 16px;
  background-color: var(--solid-white25);
  border-radius: 100px;
  transition: 500ms;
}

.carousel-indicators ol:hover {
  height: 24px;
  width: 24px;
  background-color: var(--solid-white75);
  border-radius: 100px;
}

.carousel-indicators ol[active] {
  height: 24px;
  width: 24px;
  background-color: var(--solid-white);
  border-radius: 100px;
} */

.carousel-indicators input {
  display: none;
}

.carousel-indicators input ~ div {
  height: 16px;
  width: 16px;
  background-color: var(--solid-white25);
  border-radius: 100px;
  transition: 500ms;
  cursor: pointer;
}

.carousel-indicators input ~ div:hover {
  height: 24px;
  width: 24px;
  background-color: var(--solid-white75);
  border-radius: 100px;
}

.carousel-indicators input:checked ~ div {
  height: 24px;
  width: 24px;
  background-color: var(--solid-white);
  border-radius: 100px;
}

/* testing c-image */

.carousel-image-container {
  width: 100%;
  height: auto;
}

.carousel-image-container img {
  margin-inline: auto;
  right: 0;
  left: 0;
}

#carousel-image-2 {
  height: 360px;
  width: auto;
}

#carousel-image-1,
#carousel-image-2,
#carousel-image-3 {
  visibility: hidden;
  transition: 500ms bottom, 1s opacity cubic-bezier(1, 0, 0, 1);
  opacity: 0;
  bottom: -100%;
}

.carousel-container:has(input[id="back-image-1"]:checked) #carousel-image-1,
.carousel-container:has(input[id="carousel-image-1-active"]:checked)
  #carousel-image-1,
.carousel-container:has(input[id="to-image-1"]:checked) #carousel-image-1 {
  visibility: visible;
  opacity: 1;
  bottom: 0;
}

.carousel-container:has(
    input[id="back-image-2"]:checked,
    input[id="carousel-image-2-active"]:checked,
    input[id="to-image-2"]:checked
  )
  #carousel-image-2 {
  visibility: visible;
  right: 0;
  opacity: 1;
  bottom: 0;
}

.carousel-container:has(
    input[id="back-image-2"]:checked,
    input[id="carousel-image-2-active"]:checked,
    input[id="to-image-2"]:checked
  )
  #carousel-image-1,
.carousel-container:has(
    input[id="back-image-2"]:checked,
    input[id="carousel-image-2-active"]:checked,
    input[id="to-image-2"]:checked
  )
  #carousel-image-3 {
  visibility: hidden;
  right: 0;
  opacity: 1;
  bottom: 0;
}

.carousel-container:has(input[id="carousel-image-3-active"]:checked)
  #carousel-image-3,
.carousel-container:has(input[id="back-image-3"]:checked) #carousel-image-3,
.carousel-container:has(input[id="to-image-3"]:checked) #carousel-image-3 {
  visibility: visible;
  opacity: 1;
  bottom: 0;
}

/* controllers */

.carousel-controllers {
  display: none;
  z-index: 10;
  position: absolute;
  bottom: 32px;
  cursor: pointer;
}

.carousel-controllers input {
  display: none;
}

/* default back image 3 on page load */
#back-image-1-arrow,
#back-image-2-arrow {
  display: none;
}

/* default to image 2 on page load */
#to-image-1-arrow,
#to-image-3-arrow {
  display: none;
}

/* default on load accessible button on image 1*/
.carousel-container:has(input[id="to-image-2"]:checked) #to-image-2-arrow,
.carousel-container:has(input[id="to-image-2"]:checked) #to-image-1-arrow,
.carousel-container:has(input[id="to-image-2"]:checked) #back-image-2-arrow,
.carousel-container:has(input[id="to-image-2"]:checked) #back-image-3-arrow {
  display: none;
}

.carousel-container:has(input[id="back-image-3"]:checked) #back-image-3-arrow,
.carousel-container:has(input[id="back-image-3"]:checked) #back-image-2-arrow,
.carousel-container:has(input[id="back-image-3"]:checked) #to-image-2-arrow,
.carousel-container:has(input[id="back-image-3"]:checked) #to-image-1-arrow {
  display: none;
}

.carousel-container:has(input[id="to-image-2"]:checked) #to-image-3-arrow,
.carousel-container:has(input[id="to-image-2"]:checked) #back-image-1-arrow,
.carousel-container:has(input[id="back-image-3"]:checked) #to-image-1-arrow,
.carousel-container:has(input[id="back-image-3"]:checked) #back-image-2-arrow {
  display: inline;
}

/* default on load accessible button on image 2 */

.carousel-container:has(input[id="to-image-3"]:checked) #to-image-2-arrow,
.carousel-container:has(input[id="to-image-3"]:checked) #to-image-1-arrow,
.carousel-container:has(input[id="to-image-3"]:checked) #back-image-2-arrow,
.carousel-container:has(input[id="to-image-3"]:checked) #back-image-3-arrow {
  display: none;
}

.carousel-container:has(input[id="back-image-1"]:checked) #back-image-2-arrow,
.carousel-container:has(input[id="back-image-1"]:checked) #back-image-3-arrow,
.carousel-container:has(input[id="back-image-1"]:checked) #to-image-1-arrow,
.carousel-container:has(input[id="back-image-1"]:checked) #to-image-2-arrow {
  display: none;
}

.carousel-container:has(input[id="to-image-3"]:checked) #to-image-1-arrow,
.carousel-container:has(input[id="to-image-3"]:checked) #back-image-2-arrow,
.carousel-container:has(input[id="back-image-1"]:checked) #to-image-2-arrow,
.carousel-container:has(input[id="back-image-1"]:checked) #back-image-3-arrow {
  display: inline;
}

/* default on load accessible button on image 3 */

.carousel-container:has(input[id="to-image-1"]:checked) #to-image-2-arrow,
.carousel-container:has(input[id="to-image-1"]:checked) #to-image-3-arrow,
.carousel-container:has(input[id="to-image-1"]:checked) #back-image-3-arrow,
.carousel-container:has(input[id="to-image-1"]:checked) #back-image-1-arrow {
  display: none;
}

.carousel-container:has(input[id="back-image-2"]:checked) #back-image-1-arrow,
.carousel-container:has(input[id="back-image-2"]:checked) #back-image-3-arrow,
.carousel-container:has(input[id="back-image-2"]:checked) #to-image-2-arrow,
.carousel-container:has(input[id="back-image-2"]:checked) #to-image-3-arrow {
  display: none;
}

.carousel-container:has(input[id="to-image-1"]:checked) #to-image-2-arrow,
.carousel-container:has(input[id="to-image-1"]:checked) #back-image-3-arrow,
.carousel-container:has(input[id="back-image-2"]:checked) #to-image-3-arrow,
.carousel-container:has(input[id="back-image-2"]:checked) #back-image-1-arrow {
  display: inline;
}

.carousel-container .carousel-controllers .arrow-right {
  transform: rotate(180deg);
  transition: 500ms;
  opacity: 0.3;
}

.carousel-controllers .arrow-left {
  opacity: 0.3;
  transition: 500ms;
}

.carousel-controllers .arrow-left-active {
  opacity: 1;
  transition: 500ms;
}

.carousel-controllers .arrow-right-active {
  transform: rotate(180deg);
  opacity: 1;
  transition: 500ms;
}

.carousel-controllers .arrow-left:hover,
.carousel-controllers .arrow-right:hover {
  opacity: 1;
  fill: var(--rise-shine);
}

/* collection cards */

.collection-card-primary {
  background-color: var(--hazy-mauve);
  border-radius: 24px;
  height: 410px;
}

.collection-card-primary img {
  height: 85%;
}

.collection-card-secondary {
  background-color: var(--pale-gold);
  border-radius: 24px;
  height: 250px;
}

.collection-card-secondary img {
  height: 95%;
}
.collection-card-text {
  height: 100%;
  justify-content: space-between;
}

/* bestsellers  */

.bestseller-container {
  background-color: var(--solid-plaster);
}

.bestseller-product {
  height: 220px;
  width: 225px;
  background-color: var(--solid-white);
  border-radius: 24px;
  perspective: 500px;
}

.bestseller-product img {
  width: 100%;
  height: auto;
  transition: 500ms;
}

.bestseller-product img:hover {
  transform: rotateY(20deg);
}

.bestseller-loadmore {
  display: none;
}

/* fav-ckeckbox */

.favorite input {
  display: none;
}

.favorite input ~ svg {
  fill: transparent;
  stroke: var(--themara-black);
  transition: 500ms fill;
}

.favorite input:checked ~ svg {
  fill: var(--themara-black);
}

/* times */

.time-number {
  background-color: var(--mushiao-green);
  line-height: 32px;
  font-size: 24px;
  font-weight: 700;
  font-family: "roboto";
  padding: 12px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer h2 {
  text-align: center;
}

.time-desc {
  font-size: 12px;
  font-weight: 200;
  font-family: "roboto";
  padding: 12px 0;
}

/* sm responsive design */
#nav-sm {
  display: none;
  font-size: 1.25rem;
}

#nav-sm a {
  color: var(--solid-white25);
  transition: 500ms;
}

#nav-sm a:hover {
  color: var(--solid-white);
}

#nav-sm [active] {
  color: var(--solid-white);
}

#nav-xs a {
  opacity: 0.75;
  transition: 500ms;
}

#nav-xs a:hover {
  opacity: 1;
  transition: 500ms;
}

#nav-xs [active] {
  opacity: 1;
}

.shoe-img {
  display: none;
}

.price-tag {
  display: none;
}

.price-tag-transparent {
  display: none;
  z-index: 10;
}

@media screen and (min-width: 520px) {
  .carousel h1 {
    font-size: 6rem;
  }

  .collection-container {
    flex-direction: row;
  }

  .collection-card-primary {
    height: 300px;
  }

  .collection-card-secondary {
    height: 300px;
  }

  .carousel-controllers {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .carousel-image-container img {
    margin-inline: auto;
    right: 0;
    left: auto;
  }

  #carousel-image-2 {
    height: 520px;
    width: auto;
  }

  #nav-xs {
    display: none;
  }

  body,
  html {
    padding-bottom: 0;
  }
  #nav-sm {
    display: flex;
  }

  .carousel {
    padding-top: 5rem;
  }

  .carousel h1 {
    font-size: 8rem;
  }

  .carousel-image {
    justify-content: flex-end;
    right: 10rem;
  }

  .carousel img {
    height: 520px;
    width: auto;
  }

  .carousel-image::after {
    height: 275px;
    width: 275px;
  }
  .carousel-image::before {
    height: 275px;
    width: 275px;
    bottom: 150px;
  }

  .collection-card-primary {
    height: 400px;
  }

  .collection-card-secondary {
    height: 400px;
  }

  .bestseller-product {
    height: 275px;
    width: 275px;
  }

  .time-number {
    width: 100px;
    height: 70px;
    font-size: 32px;
  }
  .timer h2 {
    text-align: center;
    font-size: 32px;
  }

  .time-desc {
    font-size: 16px;
  }

  .carousel-container:has(input[id="carousel-image-1-active"]:checked)
    #carousel-image-1 {
    display: block;
    transform: translateX(25px);
    bottom: 0;
  }

  .carousel-container:has(input[id="carousel-image-2-active"]:checked)
    #carousel-image-2 {
    display: block;
    right: 0;
    bottom: 0;
    transform: translateX(75px);
  }

  .carousel-container:has(input[id="carousel-image-3-active"]:checked)
    #carousel-image-3 {
    display: block;
    bottom: 0;
  }

  .carousel-indicators {
    display: grid;
    justify-items: center;
    justify-content: end;
    bottom: 50%;
    right: 0;
    transform: translateY(50%);
    z-index: 40;
  }

  .carousel-controllers {
    display: flex;
    gap: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .collection-card-primary {
    height: 550px;
    width: 600px;
  }

  .carousel-image-container {
    min-width: 600px;
    min-height: 550px;
  }

  .price-tag {
    display: block;
    position: absolute;
    right: 200px;
    top: 100px;
    z-index: 50;
  }

  .price-tag-transparent {
    display: block;
    position: absolute;
    right: 250px;
    top: 50px;
  }

  .collection-card-secondary {
    height: 550px;
  }

  .bestseller-product {
    height: 350px;
    width: 305px;
  }

  .time-number {
    width: 120px;
    height: 90px;
    font-size: 48px;
  }
  .timer h2 {
    text-align: center;
    font-size: 48px;
  }

  .time-desc {
    font-size: 18px;
  }
}

@media screen and (min-width: 1540px) {
  .bestseller-loadmore {
    display: flex;
  }

  .timer-container {
    min-height: 450px;
    border-left: 400px var(--pale-gold) solid;
  }

  .time-number {
    width: 150px;
    height: 110px;
    font-size: 64px;
  }
  .timer h2 {
    text-align: left;
    font-size: 64px;
  }

  .time-desc {
    font-size: 24px;
  }

  .shoe-img {
    display: block;
    left: -400px;
  }
}
