@import url("_grid.css");
@import url("variables.css");
@import url("_global.css");
@import url("_flexbox.css");
@import url("_sizes.css");
@import url("_spacings.css");

body {
  background-image: var(--mushiaogreen-freshherbs-lineargradient);
  background-repeat: no-repeat;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
}

section {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.brand {
  font-size: 2rem;
  font-weight: 900;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  color: var(--solid-white);
  z-index: 30;
}

.dev-items {
  width: 100%;
  height: 100%;
  position: relative;
}

.circle-1 {
  width: 200px;
  height: 200px;
  background-color: var(--palm-green);
  border-radius: 200px;
  position: absolute;
  bottom: 125px;
  left: 50%;
  transform: translateX(-50px);
  transition: 500ms;
  transition-behavior: height, width;
}

.circle-2 {
  width: 200px;
  height: 200px;
  background-color: var(--palm-green);
  border-radius: 200px;
  position: absolute;
  bottom: 50px;
  right: 50%;
  transform: translateX(50px);
  transition: 1s;
  transition-behavior: height, width;
}
img {
  width: 80%;
  height: auto;
}
.image-container {
  position: absolute;
  bottom: 0;
  left: calc(50% - 140px);
  z-index: 10;
}

.text {
  background-color: pink;
  position: absolute;
  top: 25%;
  line-height: 1;
  z-index: 40;
  font-size: 2em;
  font-weight: 900;
  color: transparent;
  text-align: center;
  background: var(--solidwhite-hazymauve);
  background-clip: text;
  text-overflow: clip;
  overflow: hidden;
}

.text span {
  font-size: 1rem;
  font-weight: 300;
  color: var(--pale-gold);
}

@media screen and (min-width: 360px) {
  .circle-1,
  .circle-2 {
    width: 250px;
    height: 250px;
  }

  .circle-1 {
    left: calc(50% - 120px);
    transform: translateX(50px);
    bottom: 175px;
  }

  .circle-2 {
    left: calc(50% - 120px);
    transform: translateX(-75px);
  }
}

@media screen and (min-width: 720px) {
  .circle-1,
  .circle-2 {
    width: 350px;
    height: 350px;
  }

  .circle-1 {
    left: calc(50% - 165px);
    transform: translateX(100px);
    bottom: 150px;
  }

  .circle-2 {
    left: calc(50% - 165px);
    transform: translateX(-100px);
    bottom: 10px;
  }
}
