@import "./_grid.css";
@import "./_variables.css";
@import "./_global.css";
@import "./_flexbox.css";

body {
  background-image: var(--mushiaogreen-freshherbs-lineargradient);
  background-repeat: no-repeat;
}

section {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.brand {
  font-size: 2rem;
  font-weight: 900;
  top: 2vh;
  left: 2vh;
  position: absolute;
  color: var(--solid-white);
}

.circle-1 {
  width: 200px;
  height: 200px;
  background-color: var(--palm-green);
  border-radius: 200px;
  position: absolute;
  bottom: 30vh;
  right: 50%;
  /* transform: translateX(300px); */
}

.circle-2 {
  width: 200px;
  height: 200px;
  background-color: var(--palm-green);
  border-radius: 200px;
  position: absolute;
  bottom: 10vh;
  left: 50%;
  /* transform: translateX(-300px); */
}

img {
  width: 210px;
  height: auto;
}

.image-container {
  height: 60vh;
  position: absolute;
  bottom: 0;
  z-index: 10;
}
